<div class="container">
  <h1>Profile</h1>
  <!-- Workout content will go here -->
</div>
<form action="/user-pages/physical-info" method="GET">
  <button type="submit" class="btn">신체정보입력</button>
</form>
